<a href="https://colab.research.google.com/github/Wittmann9/BERT_train/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn
from math import sqrt
from datetime import timedelta
from sklearn import linear_model
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import mean_squared_error
df = pd.read_parquet('/content/sample_data/fhv_tripdata_2021-01.parquet', engine='pyarrow')
df

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037
...,...,...,...,...,...,...,...
1154107,B03266,2021-01-31 23:43:03,2021-01-31 23:51:48,7.0,7.0,None,B03266
1154108,B03284,2021-01-31 23:50:27,2021-02-01 00:48:03,44.0,91.0,None,
1154109,B03285,2021-01-31 23:13:46,2021-01-31 23:29:58,171.0,171.0,None,B03285
1154110,B03285,2021-01-31 23:58:03,2021-02-01 00:17:29,15.0,15.0,None,B03285
1154111,B03321,2021-01-31 23:39:00,2021-02-01 00:15:00,NaN,NaN,None,B03321

In [ ]:
df['duration'] = (df['dropOff_datetime'] - df['pickup_datetime']).astype('timedelta64[s]')/60.0
mean_duration = df['duration'].mean()
mean_duration

19.1672240937939

In [ ]:
df.drop(df[df['duration'] < 1].index, inplace = True)
df.drop(df[df['duration'] > 60].index, inplace = True)

In [ ]:
df['PUlocationID'] = df['PUlocationID'].fillna(-1)
df['DOlocationID'] = df['DOlocationID'].fillna(-1)

In [ ]:
(df['PUlocationID']==-1).sum()/len(df)

0.8352732770722617

In [ ]:
def RootMeanSquareError(dataframe):
  categorical = ['PUlocationID', 'DOlocationID']
  numerical = ['dispatching_base_num']

  dataframe[categorical] = dataframe[categorical].astype(str)
  train_dicts = dataframe[categorical].to_dict(orient='records')

  dv = DictVectorizer()
  X_train = dv.fit_transform(train_dicts)

  target = 'duration'
  y_train = dataframe[target]

  lr = linear_model.LinearRegression()
  lr.fit(X_train, y_train)

  y_pred = lr.predict(X_train)

  return mean_squared_error(y_train, y_pred, squared=False)

In [ ]:
RootMeanSquareError(df)

10.528519107210744

In [ ]:
# categorical = ['PUlocationID', 'DOlocationID']
# list_of_dicts = df[categorical].astype(str).to_dict('records')
# list_of_dicts[:10]

In [ ]:
test_data = pd.read_parquet('/content/sample_data/fhv_tripdata_2021-02.parquet', engine='pyarrow')

In [ ]:
test_data['duration'] = (test_data['dropOff_datetime'] - test_data['pickup_datetime']).astype('timedelta64[s]')/60.0
test_data.drop(test_data[test_data['duration'] > 60].index, inplace = True)
test_data.drop(test_data[test_data['duration'] < 1].index, inplace = True)
test_data['PUlocationID'] = test_data['PUlocationID'].fillna(-1)
test_data['DOlocationID'] = test_data['DOlocationID'].fillna(-1)

In [ ]:
def RootMeanSquareError(dataframe):
  categorical = ['PUlocationID', 'DOlocationID']
  numerical = ['dispatching_base_num']

  dataframe[categorical] = dataframe[categorical].astype(str)
  train_dicts = dataframe[categorical].to_dict(orient='records')

  dv = DictVectorizer()
  X_train = dv.fit_transform(train_dicts)

  target = 'duration'
  y_train = dataframe[target]

  lr = linear_model.LinearRegression()
  lr.fit(X_train, y_train)

  y_pred = lr.predict(X_train)

  return mean_squared_error(y_train, y_pred, squared=False)

In [ ]:
RootMeanSquareError(test_data)

10.95822844199181